<span style="display:inline-block;cursor:not-allowed" title="{{ tooltip | trans }}">
    <span class="btn btn-xs btn-outline btn-view disabled" style="pointer-events:none">
        <i class="fa fa-eye"></i> {{ title | trans }}
    </span>
</span>
